- var lang = current.path[0] === 'zh' ? 'zh' : '';
- var data = lang !== 'zh' ? public._data : public.zh._data;
- var navigation = data.navigation;
- var year = (new Date()).getFullYear();
- var baseUrl = environment === 'development' ? '' : '/ATAM';

footer#site-footer(role='contentinfo')
  .wrap
    div.info
      div.copyright AT Asset Management &copy; #{year}.
      div.registration Registration Number 201212588D.

    nav.footer-navigation
      ul
        - each title, slug in navigation
          - var href = (lang ? lang + '/' : '') + slug
          li: a(href='#{baseUrl}/#{href}/', title='#{title}')= title
        - each title, slug in data.footer_navigation
          - var href = (lang ? lang + '/' : '') + slug
          li: a(href='#{baseUrl}/#{href}/', title='#{title}')= title