- var baseUrl = github_pages ? (environment === 'development' ? '' : '/ATAM') : '';

h1.our-company Our company

section.introduction
  :markdown
    AT Asset Management offers a highly personalised service, with tailored solutions to meet your requirements 
    in banking, finance and investments. The financial services we offer are complemented by a range of premium 
    services designed to support your passions, beliefs and ideas.

    At AT Asset Management we go beyond investment, building strong client relationships and delivering 
    consistent results. Clients work with our team to select investment vehicles covering the entire asset spectrum 
    including cash, fixed income and equities, as well as a range of alternative offerings such as private equity and 
    hedge funds. Besides our services in wealth management, we can offer you access to our partner networks in 
    corporate and investment banking to meet your business goals.

section.philosophy
  h2 Philosophy
  :markdown
    AT Asset Management aims to build long and lasting relationships with clients that deliver the highest standards 
    whilst providing specialist expertise in the field of portfolio management.

    Driven by care, passion and the commitment to excellence, our goal is to be the trusted partner of our clients 
    by offering dedicated and professional services.

    We think and act as owners of our clients’ portfolios, to deliver sustainable long term value to our clients.

    Our aim is to develop the best possible strategies in order to assist in servicing your needs. To fulfil our 
    ambition of meeting your goals, we provide you with access to specialists spanning Asia and Europe. Our 
    transparency is a key feature in our relationship and allows you relax, whilst we take care of the rest.

section.principles
  h2 Principles
  :markdown
    Our principles and core values define the way we think and act. They sharpen our focus on our clients and act 
    as our compass - having a good compass enables us to get back to our fundamental purpose and beliefs, especially 
    when we are faced with situations we have not come across before.

    Our client-first approach is committed to upholding the highest levels of integrity. To ensure this we exercise 
    prudence and sound judgement combined with a considered approach to managing risks as we seek to deliver 
    sustainable investment returns.

    We are aware that our actions today help shape your tomorrow. Because of this, we have an ongoing commitment to 
    manage your assets respectfully, always taking a considered approach when it comes to your wealth.

blockquote 
  | We believe in long term relationships that are built upon high levels of performance and quality of service.
  | When our clients do well, we do well.
  cite
    strong Andy Lim
    span Managing Director

section.management-team
  h2 Management team
  div.team-member
    div.profile
      img(src='#{baseUrl}/assets/img/andy-lim.png', alt='Andy Lim - Managing Director')
      strong.name Andy Lim
      span.role Managing Director
    div.info
      :markdown
        Andy is the chief investment officer of AT Total Return Fund and the co-founder of AT Asset Management. He 
        has more than 12 years of wealth management experience with international banks where he manages high net 
        worth individuals’ investment portfolios. Andy employs bottom-up and value-oriented research and analysis 
        to produce above-average yields and total returns for the portfolio. His knowledge and experience in the 
        financial industry has given him an edge when it comes to developing absolute return investment strategies 
        with low portfolio volatility.
  
  div.team-member
    div.profile
      img(src='#{baseUrl}/assets/img/teresa-tay.png', alt='Teresa Tay')
      strong.name Teresa Tay
      span.role Director
    div.info
      :markdown
        Teresa is a portfolio manager of AT Total Return Fund and the co-founder of AT Asset Management. She has 
        8 years of wealth management experience in the banking industry where she manages investment portfolios 
        of high net worth individuals from Asia Pacific. Teresa sits on the investment committee to provide her 
        expertise in effective portfolio construction and she oversees the ongoing daily operations within the 
        company. She earned her double degree in BBus (Accounting) / BBus (Banking & Finance) from Monash University 
        Australia with minors in Statistics and Economics.

  div.team-member
    div.profile
      img(src='#{baseUrl}/assets/img/cheah-chee-mun.png', alt='Cheah Chee Mun - Portfolio Strategist')
      strong.name Cheah Chee Mun, CFA
      span.role Portfolio Strategist
    div.info
      :markdown
        Cheah Chee Mun has 12 years of experience in the financial industry. He writes economic research and 
        develops portfolio strategies. He is also responsible for performing investment portfolio analysis and 
        monitoring portfolio risk. Prior to joining AT Asset Management, he assumed roles as Investment Advisor 
        and Regional Risk Controller at commercial and investment banks, which include Standard Chartered, Deutsche 
        and CIMB Bank. Cheah Chee Mun received a Bachelor of Science with Honors in Banking & Finance from the 
        University of London. He also holds the Chartered Financial Analyst (CFA) designation.

  div.team-member
    div.profile
      img(src='#{baseUrl}/assets/img/joe-poulton.png', alt='Joe Poulton - Marketing')
      strong.name Joe Poulton
      span.role Marketing & Business Development
    div.info
      :markdown
        Joe Poulton develops and implements sales and marketing strategies for the company and is responsible for 
        enhancing overall customer experience. Previous roles in Digital Media, Insurance & Investment firms have 
        provided him with a broad range of experience in both marketing and investment products. His most recent 
        role was as a Paraplanner at International Financial Services, servicing existing client’s investment 
        portfolios. Joe was trained in Multi-Media Design and Applied Digital Media in the United Kingdom.

  div.team-member
    div.profile
      img(src='#{baseUrl}/assets/img/michael-kristensen.png', alt='Michael Kristensen - Independent Advisor')
      strong.name Michael Kristensen
      span.role Independent Advisor
    div.info
      :markdown
        Michael Kristensen brings with him a wealth of experience in the field of corporate finance and capital 
        markets. He is the Head of Corporate Finance & Debt Capital Markets in Hehang Investment China, a leading 
        domestic investment company in Beijing providing IPO, M&A, Fixed Income, Restructuring, Private Equity 
        and privatisation of SOEs. Prior to this, he was the Head of International Wholesale Banking and Loan 
        Syndicate at Investment Bank of Greece and Head of Corporate Debt Capital Markets at J.P. Morgan Chase 
        Germany, Austria and the Netherlands.


  div.team-member
    div.profile
      img(src='#{baseUrl}/assets/img/yip-hon-mun.png', alt='Yip Hon Mun - Independent Advisor')
      strong.name Yip Hon Mun
      span.role Independent Advisor
    div.info
      :markdown
        Yip Hon Mun has a vast experience in government linked companies, MNCs and SMEs. He is the President of 
        Thaicom China, a subsidiary of Shin Corporation, the biggest telecommunications conglomerate in Thailand. 
        He also acts as an advisor to many venture capitalists and private equity firms, and is often invited 
        as a guest speaker to universities such as the University of Michigan, Ann Arbor & Purdue University, 
        Thailand Sasin Business School, and Assumption University to mentor MBA students. His previous roles 
        include Vice President at AIS Thailand, Director at Microsoft and Managing Director at Nokia Networks 
        Asia Pacific.
